@import "tailwindcss";

@theme {
  --color-background: #050505;
  --color-surface: #111111;
  --color-surface-light: #1a1a1a;

  --color-primary: #b6ff00;
  --color-primary-dark: #8fca00;

  --color-text-primary: #ffffff;
  --color-text-secondary: #a3a3a3;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
  background: var(--color-background);
  color: var(--color-text-primary);
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}